<div class="row">
    <div class="span12">
      <br>
      <h5 class="work-def psep">The third man</h5>

      <h5 class="work-def sep">Auro asked me for a way to be able to hire a taxi in the name of a third party, as at the time, it was only possible to order a taxi under the name of the user who owned the mobile phone assigned to the app.
      After several exercises, tests and surveys, I came to the conclusion that the best way was to generate a pop-up that would allow to choose to make a quick change of user from an avatar icon that, when pressed, would access a shortcut, similar to sharing, where you could access both the agenda and a contact manager by groups: family, friends and work, being these completely renameable and configurable even in number.</h5>

      <h5 class="work-def">Pen and paper initial wireframes</h5>
      <img src="../assets/img/portfolio/full/04-Auro-08-FULL.jpg">

           Comparison of wireframes and final screens</h5>
      <div class="sep"><img src="../assets/img/portfolio/full/04-Auro-07-FULL.jpg"></div>

      <h5 class="work-def">Main screen, search and recent and saved searches screens</h5>
      <div class="sep"><img src="../assets/img/portfolio/full/04-Auro-01-FULL.jpg"></div>

      <h5 class="work-def">Destination, stops and More button screens</h5>
      <div class="sep"><img src="../assets/img/portfolio/full/04-Auro-02-FULL.jpg"></div>

      <h5 class="work-def">Change and passenger grouping screens</h5>
      <div class="sep"><img src="../assets/img/portfolio/full/04-Auro-03-FULL.jpg"></div>

      <h5 class="work-def">Traveller edit screen and trip detail screen with extended trip information.</h5>
      <div class="sep"><img src="../assets/img/portfolio/full/04-Auro-04-FULL.jpg"></div>

      <h5 class="work-def">Design system
      </h5>
      <div class="sep"><img src="../assets/img/portfolio/full/04-Auro-05-FULL.jpg"></div>

      <h5 class="work-def">More of the Design system</h5>
      <div class="sep"><img src="../assets/img/portfolio/full/04-Auro-06-FULL.jpg"></div>
    </div>
</div>
