<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="{{ site.baseurl }}/assets/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> <!-- Revolution Slider -->
<script src="{{ site.baseurl }}/assets/rs-plugin/js/jquery.themepunch.plugins.min.js"></script> <!-- Revolution Slider -->
<script src="{{ site.baseurl }}/assets/js/jquery.superfish.min.js"></script> <!-- Superfish -->
<script src="{{ site.baseurl }}/assets/js/jquery.supersubs.min.js"></script> <!-- Supersubs -->
<script src="{{ site.baseurl }}/assets/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="{{ site.baseurl }}/assets/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="{{ site.baseurl }}/assets/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="{{ site.baseurl }}/assets/js/plugins.js"></script> <!-- Contains: jQuery Easing, jQuery ScrollTo -->
<script src="{{ site.baseurl }}/assets/js/main.js"></script> <!-- Default JS -->
<script src="{{ site.baseurl }}/assets/js/retina.js"></script>